[cmds.sleep3]
cmd = "echo"
args = ["hello"]

[cmds.sleep5]
cmd = "bash"
args = ["./script.sh"]

[cmds.cargo]
cmd = "cargo"
args = ["watch"]

[cmds.sleep7]
cmd = "bash"
args = ["./script.sh"]

[cmds.sleep8]
cmd = "bash"
args = ["./script.sh"]
